.container {
  display: flex;
  justify-content: center;
  background-color: #e4d1d8;
}

h1 {
 
  letter-spacing: 2px;
  color: #655D8A;
  font-size: 30px;
  
  text-transform: uppercase;
  
 }
 
 h2 {
 
  font-size: 22px;
  
  letter-spacing: 2px;
  
  text-transform: uppercase;
  
  color: #dbaa3f
  
 }

 .btn {
 
  display: inline-block;
  
  cursor: pointer;
  
  border: 1px solid transparent;

  border-radius: 10px;
  
  letter-spacing: 1px;
  
  text-transform: uppercase;
  
  font-weight: 900;
  
  text-align: center;
  
  color: #fff;
  
  background-color: #d8b542;
  
  align-self: center;
  
  padding: 10px;

  margin: 10px;
  
 }
 
  
button {
 
  background: 0;
  
  border: none;
  
  font-size: 18px;
  
  color: #655D8A;
  
 }
 
 .class{
   background-color: #655D8A;
 }

 .btnnew{
   display: flex;
   align-items: center;
   flex-direction: column;
 }

 .prev{
   background-color: #d484ba;
   color: white;
   margin: 10px;
   padding: 10px;
   font-size: 18px;
   border-radius: 15px;
 }